@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Lato:wght@300;700&display=swap');
body{
    font-family: 'lato', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

body{
    background-color: #C9B59C;
    background-size: cover;
    font-family: arial, sans-serif;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    background-color:white;
    color: #333;
    text-align: center;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1{
    margin: 0;
    font-size: 2em;
}

nav{
    margin-top: 10px;
}

nav a{
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover{
    color: brown;
}

section{
    text-align: center;
}

.menu-item{
    background-color: #DCD7C9;
    padding: 20px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

footer{
    background-color: #854836;
    color: white;
    padding: 20px 0;
    text-align: center;
}